[submodule "secp256k1/bitcoin-core/secp256k1"]
	path = secp256k1/bitcoin-core/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "peerbridge-ios/secp256k1"]
	path = peerbridge-ios/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
